@use "colors" as *;

.form-pastry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    span {
        margin: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .validate-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

.admin-panel {

    .grid-pastry {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        table {
            // width: 90%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: $box-shadow;
            border-radius: 8px;
            overflow: hidden;

            thead {
                background-color: $primary-color;
                color: $text-light;

                tr {
                    th {
                        padding: 12px 15px;
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid $border-color;

                    &:nth-child(even) {
                        background-color: $background-light;
                    }

                    &:hover {
                        background-color: #ffe6cc;
                    }

                    td {
                        padding: 15px;
                        text-align: center;
                        font-size: 16px;

                        img {
                            width: 150px;
                            height: 120px;
                            border-radius: 8px;
                            object-fit: cover;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        }



                    }
                }
            }
        }
    }
}